body {
    font-family: Arial, sans-serif;
}

/* Navbar links */
.nav-item {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-item:hover {
    color: #929292;
}

/* Contact button */
.contact-btn {
    padding: 8px 20px;
    background: #070707;
    color: #fff !important;
    border-radius: 40px;
    transition: .3s;
}

.contact-btn:hover {
    background:#6b6b6b;
    transform: scale(1.05);
}

/* keeps text vertically centered too */
nav a {
    display: flex;
    align-items: center;  
}

.left-text {
    max-width: 700px;
}

.left-text h1 {
    font-size: large;
}




